.body{
    padding-right: 60px;
    overflow-y: hidden !important;
}



.heading{
    padding: 50px 0px 30px 60px;
}

.container{
    height: 200px;
    width:350px;
    position: absolute;
    margin-left:60px;

}

.envelope{
    background-color: #d74443;
    height: 150px;
    width: 270px;
    position: absolute;
    left:0px;
    top: 70px;
}

.paper{
    background-color: white;
    height: 150px;
    width: 250px;
    position: relative;
    left: 10px;
    text-align: center;
    font-family: 'Roboto Slab', serif;
    padding-top:10px;
    line-height: 27px;
}

.inner1{
    width: 0;
    height: 0;
    border-bottom: 150px solid #E15349;
    border-right: 270px solid transparent;
    position:relative;
    bottom: 150px;
}

.inner2{
    width: 0;
    height: 0;
    border-bottom: 150px solid #E95E55;
    border-left: 270px solid transparent;
}

.cover{
    width: 0;
    height: 0;
    border-top: 75px solid #d74443;
    border-right: 135px solid transparent;
    border-left: 135px solid transparent;
    position: relative;
    bottom:300px;
    transform-origin: top;
}

.envelope:hover{
    cursor: pointer;
}

.envelope:hover .cover{
    transform: rotateX(180deg);
    z-index: -1
}

.envelope:hover .paper{
    transform: translateY(-50px);
}

.contact p{
    font-family: 'Roboto Slab', serif;
    color:rgb(87, 49, 64);
    font-size: 20px;
    padding-left: 60px;
    padding-right: 60px;
}





