
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    overflow-y: scroll;
    background-color:#0C0404;
}

.user-img {
    width: 50px;
    border-radius: 100%;
    margin-left: 5px;
    border: 1px solid #eee;
}

nav ul li a.current{
    color: #a02b58;
    font-weight: bold;
}

.sidebar {
    position: fixed;
    top:0;
    left:0;
    width: 60px;
    height: 100%;
    background-color:#0C0404;
    transition: all o.5s ease;
}

.top {
    height:70px;
}

.sidebar #btn {
    position: absolute;
    color: #f5a3b2;
    top:.4rem;
    left: 50%;
    font-size: 1.2rem;
    line-height: 50px;
    transform: translateX(-50%);
    cursor: pointer;

} 

.sidebar.active #btn{
    left: 90%;
}

.sidebar.active ~ .main-content {
    left:250px;
    width: calc(100% - 250px);
}

.sidebar.active {
    width: 250px;
}

.user {
    display: flex;
    align-items: center;
}

.user p {
    margin-left: 1rem;
}

.main-content {
    position: absolute;
    background-color:#0C0404;
    top: 0;
    left: 60px;
    transition: all 0.5s ease;
}

.sidebar ul li {
    position: relative;
    list-style-type: none;
    height: 50px;
    margin: 0.8rem auto;
    line-height: 50px;
}

.sidebar ul li a {
    color: #f5a3b2;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 0.8rem;
}

.sidebar ul li a:hover {
    color: #a02b58;
    background-color: #f5a3b2;
}

.sidebar ul li a i {
    min-width: 50px;
    text-align: center;
    height: 50px;
    border-radius: 12px;
    line-height: 50px;
    margin-left:5px;
}

.sidebar .nav-item{
    display:none;
}

.sidebar.active .nav-item{
    display: block;
    opacity: 1;
    font-size: 18px;
}

.sideName{
    color: #f5a3b2;
    font-weight: bold;
    margin-top: auto;
    margin-bottom: auto;
    font-size: medium;
}
/* all section Style*/
h1 {
    font-family: 'DM Serif Display', serif;
}

.title {
    display: flex;;
    font-size: 7vw;
    color: #b7727f;
}

.heading {
    padding: 0px 0px 60px 60px;
}

#aboutSection p {
    font-family: 'Roboto Slab', serif;
    color:#FFCAD4;
    font-size: 20px;
}

#aboutSection .sectionBlock {
    padding-left: 60px;
    padding-right: 60px;
}

/* #experienceSection .sectionBlock {
    padding-left: 60px;
    padding-right: 60px;
} */

#ccaSection .sectionBlock {
    padding-left: 60px;
    padding-right: 60px;
}
#projectSection .sectionBlock {
    padding-left: 60px;
    padding-right: 60px;
}

section {
    padding-top: 60px;
    min-height: 100vh;
}

/* progressbar styling */
/* body::-webkit-scrollbar {
    width:0;
}

.scrollPath {
    position:fixed;
    top: 0;
    right: 0;
    width: 10px;
    height: 100%;
    background: rgba(255,255,255,0.05);
    z-index: 9998;
}

.progressbar {
    position:absolute;
    top: 0;
    right: 0;
    width: 10px;
    background: linear-gradient(to top, #82485e,#8d3053);
    animation: animate 5s linear infinite;;
    z-index: 9999;
}

.progressbar:before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #82485e,#8d3053);
    filter: blur(30px)
}

.progressbar:after {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #82485e,#8d3053);
    filter: blur(30px)
} */

/* about section styling */

.fullname {
    font-size: 8vw;
    color: #a02b58;
}

/* @media (max-width: 768px) {
    .fullname {
        font-size: 90px;
    }
} */

.avatar{
    min-width: 200px;
    min-height: 200px;
    width: 25vw;
    height: 25vw;
    border-radius: 50%;
   
}

.titled {
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
}

/* button styling */
.downloadBtn {
  background-color: #a02b58;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.downloadBtn:hover,
.downloadBtn:focus {
  background-color: #F082AC;
}

/* Resume section styling */
.detailsContainer {
    height:700px;
    text-align: center;
}

.expContainer {
    height:700px;
    margin-bottom: 100px;
}

.skillsContainer {
    height:700px;
    margin-bottom: 100px;
}

.detailsContainer ul li a{
    color: #f5a3b2;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 0.8rem;
}

.detailsContainer ul li {
    position: relative;
    list-style-type: none;
    height: 50px;
    margin: 0.8rem auto;
    line-height: 50px;
    font-size: 18px;
}

.contactContainer {
    display: inline-block;
    text-align: left;
}

.detailsContainer ul li a i {
    min-width: 50px;
    text-align: center;
    height: 50px;
    border-radius: 12px;
    line-height: 50px;
}

.detailsContainer ul li a:hover {
    color: #a02b58;
}

.pic {
    border-radius: 50%;
    width: 280px;
    height:280px;
    margin-bottom: 40px;
}

.expContainer {
    height:70vh;
    color: #fcfcfc;
}

.expBlock ul li{
    position: relative;
    list-style-type: none;
}


.expHeader {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.expHeader i {
    min-width: 50px;
    height: 50px;
    border-radius: 12px;
    line-height: 50px;
    font-size:25px;
}


.skillsContainer {
    color: #fcfcfc;
    height:70vh;
}

.skillsBlock ul li{
    position: relative;
    list-style-type: none;
    line-height: 40px;
}



/* cards styling  */

/* .cards-wrapper {
    display: flex;
    justify-content: center;
}

.cards {
    display: flex;
    justify-content: center;
}

.carousel-item {
    height: 70vh;
}

.card{
    margin:0.5em;
    color:#fff;
    background-color: #0C0404;
} */


/* section .cards .text-card {
    border-style: solid;
    border-color: #573140;
    border-width: 6px;
    margin:0 auto;
    margin-bottom: 150px;
    box-shadow: 0 0 18px 5px #82485e;
} */

.project-card {
    border-radius: 25px;
    background-color: #0C0404;
    color:#eee;
    width:290px
}

.image-content,
.card-content {
    padding: 10px 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-content {
    row-gap: 5px;
}

.slide-content {
    margin: 40px;
}

.slide-container {
    max-width: 1300px;
    width:100%;

    padding: 40px;
}
.card-image {
    position:relative;
    height: 150px;
    width: 150px;
    background: #a02b58;
}
.card-image .card-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #eee;

}

.name{
    font-size: 18px;
    font-weight: 500;
    color: #f5a3b2;
}

.description {
    font-size: 14px;
    color:#fcfcfc;
    text-align: center;

}

/* .cards {
    padding-left: 60px;
    padding-right: 60px;
    flex-direction: row;
} */

.card-cont{
    margin-left: auto;
    margin-right: auto;
    min-width: 280px;
}

/* .swiper-navBtn{
    color: #fff;
    transition: color 0.3s ease;
}

.swiper-navBtn:hover{
    color: #a02b58;
} */



.reveal{
    position: relative;
    transform:translateY(80px);
    opacity: 0;
    transition: all 2s ease;
}

.reveal.active{
    transform:translateY(0px);
    opacity: 1;
}

.cred-card{
    margin-top: 20px;
    border-radius: 25px;
    background-color: #0C0404;
    color:#eee;
    min-height: 350px;
    /* width:280px */
}

.cert-card{
    margin-top: 20px;
    border-radius: 25px;
    background-color: #0C0404;
    color:#eee;
    min-height: 250px;
    /* width:280px */
}
/*contact section styling*/

/* .container{
    height: 200px;
    width:350px;
    position: absolute;
    margin-left:60px;
}

.envelope{
    height: 150px;
    width: 270px;
    position: absolute;
    left:0px;
    top: 70px;
}

.paper{
    background-color: white;
    height: 150px;
    width: 250px;
    position: relative;
    left: 10px;
    text-align: center;
    font-family: 'Roboto Slab', serif;
    padding-top:10px;
    line-height: 27px;
}

.inner1{
    width: 0;
    height: 0;
    border-bottom: 150px solid #a83662;
    border-right: 270px solid transparent;
    position:relative;
    bottom: 150px;
}

.inner2{
    width: 0;
    height: 0;
    border-bottom: 150px solid #8d3053;
    border-left: 270px solid transparent;
}

.cover{
    width: 0;
    height: 0;
    border-top: 75px solid #a0365f;
    border-right: 135px solid transparent;
    border-left: 135px solid transparent;
    position: relative;
    bottom:300px;
    transform-origin: top;
}

.envelope:hover{
    cursor: pointer;
}

.envelope:hover .cover{
    transform: rotateX(180deg);
    z-index: -1
}

.envelope:hover .paper{
    transform: translateY(-50px);
}

#contactSection {
    min-height: 90vh;
} */
  