.heading{
    padding: 50px 0px 60px 60px;
}

#exco{
    height: 300px;
    width: 300px;
}

.ccaStuff{
    margin-left: 60px;
    margin-right:60px;
    font-family: 'Roboto Slab', serif;
    color:#573140;
    font-size: 20px;
}